:root {
    --header-height: 100px;
    --main-margin-top: 50px;
}

html, body {
    height: 100%;
    width: 100%;
    min-width: 1440px;
}

#root {
    height: 100%;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    height: var(--header-height);
    z-index: 1;
}

main {
    display: grid;
    width: min(80%, 1440px);
    margin: var(--main-margin-top) auto;
    grid-template-areas:
        "trend-summary trend-plot news"
        "word-cloud word-cloud news"
        "article-list article-list news";
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 1fr 400px;
    justify-items: center;
    align-content: center;
    gap: 20px;
}

.fill-box {
    height: 100%;
    width: 100%;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}
